<div class="panel" style="box-shadow: 0px 9px 30px 0px rgba(44,55,79,0.07);">
              <div class="panel-heading">
                <h3 class="panel-title" id="section-2">Heading With Desc
                  <small>Panel Description Here..</small>
                </h3>
              </div>
              <div class="panel-body">
                <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>String</td>
                        <td>Float</td>
                        <td>Date</td>
                      </tr>
                      <tr>
                        <td>BInary</td>
                        <td>Bool</td>
                        <td>Geometry</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>

<!-- Stackoverflow questions -->
 <div class="col-md-3">
          <div class="widget widget-shadow" style="
    box-shadow: 0px 2px 40px 0 rgba(0,0,0,0.1);
    border-radius: 7px;
">
            <div class="widget-content bg-white padding-10" style="border-radius: 7px;">
              <button type="button" class="btn btn-floating btn-sm btn-warning" style="
    background-color: #f16321;
    border-color: #f16321;
">
                <i class="icon wb-shopping-cart"></i>
              </button>
              <span class="margin-left-15 font-weight-400">ORDERS</span>
              <div class="content-text text-center margin-bottom-0">
                <i class="text-danger icon wb-triangle-up font-size-20">
                          </i>
                <span class="font-size-40 font-weight-100">399</span>
                <p class="blue-grey-400 font-weight-100 margin-0">+45% From previous month</p>
              </div>
            </div>
          </div>
        </div>
<!-- End Stackoverflow questions -->

<!-- Github repositories -->
<div class="col-md-3">
          <div class="widget widget-shadow" style="
    box-shadow: 0px 2px 40px 0 rgba(0,0,0,0.1);
    border-radius: 7px;
">
            <div class="widget-content bg-white padding-10" style="border-radius: 7px;">
              <button type="button" class="btn btn-floating btn-sm btn-warning" style="
    background-color: #323544;
    border-color: #323544;
">
                <i class="icon wb-shopping-cart"></i>
              </button>
              <span class="margin-left-15 font-weight-400">ORDERS</span>
              <div class="content-text text-center margin-bottom-0">
                <i class="text-danger icon wb-triangle-up font-size-20">
                          </i>
                <span class="font-size-40 font-weight-100">399</span>
                <p class="blue-grey-400 font-weight-100 margin-0">+45% From previous month</p>
              </div>
            </div>
          </div>
        </div>
<!-- End github -->

<!-- Stackshare comments -->
<div class="col-md-3">
          <div class="widget widget-shadow" style="
    box-shadow: 0px 2px 40px 0 rgba(0,0,0,0.1);
    border-radius: 7px;
">
            <div class="widget-content bg-white padding-10" style="border-radius: 7px;">
              <button type="button" class="btn btn-floating btn-sm btn-warning" style="
    background-color: #369df9;
    border-color: #369df9;
">
                <i class="icon wb-shopping-cart"></i>
              </button>
              <span class="margin-left-15 font-weight-400">ORDERS</span>
              <div class="content-text text-center margin-bottom-0">
                <i class="text-danger icon wb-triangle-up font-size-20">
                          </i>
                <span class="font-size-40 font-weight-100">399</span>
                <p class="blue-grey-400 font-weight-100 margin-0">+45% From previous month</p>
              </div>
            </div>
          </div>
        </div>
<!-- End Stackshare comments -->