{% extends "nosql_engine/base.html" %}
{% load static %}

{% block title %}
    {% if datamodel %}{{ datamodel.name }}{% else %}Nosqls{% endif %}
{% endblock %}

{% block content %}
    <div>
        <h1>{{ nosql.name }}</h1>
        <h2><a href="{{ nosql.datamodel.get_absolute_url }}">{{ datamodel.name }}</a></h2>
        <p>{{ nosql.data_url }}</p>
        <h3>Stored info</h3>
        <ul>
            <li>Official website: {{ nosql.official_website }}</li>
            <li>Developer : {{ nosql.developer }}</li>
            <li>Initial release: {{ nosql.initial_release }}</li>
            <li>Current release: {{ nosql.current_release }}</li>
            <li>License: {{ license.name }} ({{ license_type }})</li>
            <li>Implementation language: {{ nosql.implementation_language }}</li>
            <li>Data Types: {{ nosql.typing }}</li>
            <li>Supported Programming Languages:
                {% for l in languages %}
                    <p> {{ l.name }} {{ l.amount_repos }}</p>
                {% endfor %}
            </li>
            <li>Operating Systems: {{ nosql.operating_systems }}</li>
        </ul>
    </div>
    {% if wiki_table %}
    <div>
        <ul>
            {% for attribute, value in wiki_table.items %}
            <li>{{ attribute }} : {{ value }}</li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <h3>Without Wikipedia Table</h3>
    {% endif %}

    {% if links %}
    <div>
        <ul>
            {% for link in links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a>: <span>{{ link.number_backlinks }}</span></li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <h3>Without Links</h3>
    {% endif %}


    <div>
         {{ summary }}
    </div>

     {% if comments %}
    <div>
        {% for comment in comments %}
        <div>
            <span>Positive: {{ comment.positive }} probability: {{ comment.probability }}%</span>
            <hr>
            <p>{{ comment.body }}</p>
        </div>
        {% endfor %}

    </div>
    {% else %}
        <h3>Without Links</h3>
    {% endif %}
{% endblock %}